/* ===================== Base Css ====================== */
// Font import
@import url('https://fonts.googleapis.com/css2?family=Amita:wght@400;700&family=Outfit:wght@100..900&display=swap');
@import url('../fonts/bootstrap-icons-1.11.1/font/bootstrap-icons.css');
@import url('../fonts/font-awesome-6.4.2/css/all.css');

// Global Style

.main-page-wrapper {overflow-x: hidden;}
body {
  font-family: $font-Outfit;
  font-weight: normal;
  font-size: 18px;
  position: relative;
  color: $text-color;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 500;
  color: $color-four;
}
p {line-height: 1.8888em;}

.fw-600 {font-weight: 600;}
.fw-500 {font-weight: 500;}
.fs-16 {font-size: 16px; line-height: 1.875em;}
.fs-20 {font-size: 20px; line-height: 1.875em;}
.font-amita {
  font-family: $font-Amita;
}
.shapes {position: absolute; z-index: -1;}
.box-layout-one {
  max-width: 1794px; 
  padding-left: 12px; 
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
}
.box-layout-two {
  max-width: 1599px; 
  padding-left: 12px; 
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
}
.header-space-fix {margin-top: 95px;}
.header-space-fix-two {margin-top: 55px;}
.header-space-fix-three {margin-top: 0px;}

.line-bg {
  display: inline;
  background-image: linear-gradient(to right, $color-four 0%, $color-four 100%);
  background-position: 0 calc(100% - 0em);
  background-size: 0 2px;
  transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  background-repeat: no-repeat;
  text-decoration: none;
  @include transition (0.3s);
  &.inverse {
    background-image: linear-gradient(to right, #fff 0%, #fff 100%);
  }
  &:hover {
    background-size: 100% 2px;
  }
}
//  Preloader
.ctn-preloader {
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999999;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .icon {
    display: inline-block; 
    position: relative;
    img {
      width: 55px;
    }
  }
  .txt-loading {
    user-select: none;
    margin-top: 45px;
    .letters-loading {
      font-weight: 700;
      letter-spacing: 10px;
      display: inline-block;
      color: rgba($color: $color-one, $alpha: 0.08);
      position: relative;
      font-size: 65px;
      line-height: 30px;
      &::before {
        animation: letters-loading 4s infinite;
        color: $color-one;
        content: attr(data-text-preloader);
        left: 0;
        opacity: 0;
        top:0;
        line-height: 30px;
        position: absolute;
      }
      &:nth-child(2):before {animation-delay: 0.2s;}
      &:nth-child(3):before {animation-delay: 0.4s;}
      &:nth-child(4):before {animation-delay: 0.6s;}
      &:nth-child(5):before {animation-delay: 0.8s;}
      &:nth-child(6):before { animation-delay: 1s;}
      &:nth-child(7):before { animation-delay: 1.2s;}
      &:nth-child(8):before { animation-delay: 1.4s;}
    }
  }
}
@keyframes spinner {
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes letters-loading {
  0%,
  75%,
  100% {
    opacity: 0;
    transform: rotateY(-90deg);
  }

  25%,
  50% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}
// Scroll Top
.scroll-top {
  width:40px;
  height:40px;
  line-height: 40px;
  position: fixed;
  bottom: 20px;
  right: 5px;
  z-index: 99;
  text-align: center;
  color: #000;
  font-size: 28px;
  cursor: pointer;
  border-radius: 50%;
  background: $color-two;
  transition: all 0.3s ease-in-out;
    &:after {
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 1;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
  }
}
// Prefix Classes
.tran3s {
  transition: all 0.3s ease-in-out;
}

.tran4s {
  transition: all 0.4s ease-in-out;
}

.tran5s {
  transition: all 0.5s ease-in-out;
}

.tran6s {
  transition: all 0.6s ease-in-out;
}
