// Title One
.title-one {
    .upper-title {
        font-family: $font-Amita;
        font-size: 18px;
        font-weight: 600;
        color: #3d5fa7;
        margin-bottom: 10px;
    }
    h2 {
        font-size: 60px;
        font-weight: 600;
        line-height: 1.0714em;
    }
}